from aiogram.types import ...  {{ '# select event types for events annotations' }}
{% for handler_name in handlers_names %}

async def {{ handler_name }}(event, **kwargs) -> None:
    ...  {{ '# define the handler logic here' }}
{% else %}

...  {{ '# here you can define common handlers for several states' }}
{% endfor -%}

